h1{
    background-color: Blue;
    width: 100%;
    height: 40px;
    text-align: center;
}

.bio-container{
    
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: Bold;
	line-height: 50.4px;
}

.bio{
    padding-left: 20px;
}

.biodesc{
    padding-left: 20px;
    text-decoration: none;
    font-weight: normal;
}

#spacer{
    height: 50px;
}